// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.frame{
    width: 80%;
    margin: 30px auto;
    max-width: 600px;
}

img{
    width: 80px; 
    height: auto; 
}

.box0{
    text-align: center;
    
}

.box1{
    width: 100%;
    height: 60px; 
    margin: 15px 0px;
    background-color: rgb(237, 245, 248); 
    border-bottom: 2px solid #c2c2c2;
    input[type="email"], input[type="password"] {
    border: none;
    width: 80%;
    background-color: #eee;
    }
}


#l_text1{
    display: block; 
    font-size: 14px; 
    padding: 5px 10px; 
}

#text1{
    font-size: 18px; 
    padding: 0 0 7px 10px; 
    width: 100%;
    background-color: #eee;
    border: none; 
    outline: none; 
    border-bottom: 2px solid #c2c2c2;
    box-sizing: border-box;
}

#text1:focus{
    border-bottom: 2px solid #1B73BA;
}

#l_text2{
    display: block;
    font-size: 13px;
    padding: 5px 10px; 
}

#text2{
    font-size: 18px; 
    padding: 2px 0 7px 10px;
    width: 100%;
    background-color: #eee; 
    border: none; 
    outline: none; 
    border-bottom: 2px solid #c2c2c2;
    box-sizing: border-box; 
}

#text2:focus{
    border-bottom: 2px solid #1B73BA; 
}


.btn1{
    position: relative;
    width:100%; 
    height:50px;
    top: 10px; 
    color:#fff; 
    border:none; 
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px; 
    background:#1B73BA;
    display: block; 
    -webkit-appearance: none;
    outline: 0; 
    cursor: pointer;
}
.btn1:hover{
    opacity: 0.8;
}


a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline; 
}

p {
    text-align: center;
}
  
.box-login input[type="submit"] {

    position: relative; 
    width:100%; 
    height:50px; 
    top: 10px; 
    color:#fff; 
    border:none;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px; 
    background:#1B73BA; 
    display: block; 
    -webkit-appearance: none;
    outline: 0; 
    cursor: pointer;
  }
  
  .box-login input[type="submit"]:hover {
    cursor: pointer;
    background: #3e2ce1;
  }
